div {
  background-color: rgb(215, 33, 179);
  width: 400px;
  height: auto;
  padding: 20px;
  border-radius: 32px;
}

img {
  max-width: 100%;
  border-radius: 12px;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  color: rgb(235, 235, 235);
}

button {
  font-size: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border-radius: 12px;
  border: none;
}

button:hover {
  color: rgb(235, 235, 235);
  background-color: rgb(240, 116, 216);
}
